name: Release PDF

on:
  push:
    branches:
      - main 

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Ensures the entire repo history is checked out

    - name: Get the date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> "$GITHUB_OUTPUT"

    - name: Set up Typst
      uses: typst-community/setup-typst@v3
      with:
        typst-version: latest

    - name: Compile Typst to PDF
      run: |
        mkdir -p docs
        typst compile main.typ docs/saulburgess_cv.pdf

    - name: Release PDF
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ steps.date.outputs.date }}
        name: ${{ steps.date.outputs.date }}
        files: docs/saulburgess_cv.pdf
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
